<h1>Thanks for shopping with us</h1>
<p>Please review your order:</p>

<% @order.order_items.each do |key, value| %>
	<ul>
		<li><%= Product.find(key).name %> - <%= value %></li>
	</ul>
<% end %>
<div>
	<!-- <p>We will ship this order to:</p>
	<p></p>
	<p>
		<%= current_user.name %><br />
		<%= current_user.street_address %><br />
		<%= current_user.city %>, <%= current_user.state %>  <%= current_user.zip %>
	</p>

	<p> Incorrect address> <%= link_to "Edit Shipping Information", edit_user_registration_path, class: "btn btn-primary" %>
</div>
 -->


<strong>Order Total:</strong> <%= number_to_currency @order.grand_total%>
</p>